<%= form_for [@robot, @part] do |f| %>
  <div class='col m6'>
    <%= f.label :name%>
    <%= f.text_field :name, required: true %>
  </div>
  <div class='col m6'>
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>
  <%= f.submit class: 'btn black white-text' %>
<% end %>
